*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    position: relative;
}

.left,
.right {
    font-size: 5vw;
    margin: 40px;
    cursor: pointer;
}

.banner img {
    width:50vw;
    height: 700px;
}

.select {
    width: 20%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 50px;
}

.select i {
    font-size: 20px;
}

.blu {
    color: rgb(0, 119, 255);
}